<div class="text-center">
  @if (songState && songState.downloadState === DownloadState.Waiting) {
    <mat-icon>pending</mat-icon>
  } @else if (songState && songState.downloadState === DownloadState.InProgress) {
    <mat-progress-spinner [value]="songState.downloadProgress ? songState.downloadProgress * 100 : 0" diameter="20"></mat-progress-spinner>
  } @else if (songState && songState.downloadState === DownloadState.Failed) {
    <mat-icon>error</mat-icon>
  } @else if (songState && songState.downloadState === DownloadState.Complete) {
    <mat-icon>check_circle</mat-icon>
  } @else {
    <mat-icon>question</mat-icon>
  }
</div>
