<div class="flex flex-row justify-center">
  <button class="btn-primary w-32 h-20">
    <mat-icon>skip_previous</mat-icon>
  </button>
  <button class="btn-primary w-32 h-20 bg-green-400" title="Play" (click)="playerPlay()" [hidden]="playerState === 'playing'">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button class="btn-primary w-32 h-20" (click)="playerPause()" [hidden]="playerState !== 'playing' && playerState !== 'paused'">
    <mat-icon>pause</mat-icon>
  </button>
  <button class="btn-primary w-32 h-20">
    <mat-icon>skip_next</mat-icon>
  </button>
</div>
<div class="flex flex-row justify-center mt-4">
  <button class="btn-primary w-16">
    <mat-icon>replay_10</mat-icon>
  </button>
  <button class="btn-primary w-16 h-16">
    <mat-icon>forward_10</mat-icon>
  </button>
  <button class="btn-primary w-16 bg-red-400" (click)="playerStop()" [hidden]="playerState !== 'stopped'">
    <mat-icon>stop</mat-icon>
  </button>
  <button class="btn-primary w-16" (click)="decrementVolume()">
    <mat-icon>volume_down</mat-icon>
  </button>
  <button class="btn-primary w-16" (click)="incrementVolume()">
    <mat-icon>volume_up</mat-icon>
  </button>
</div>
<div class="flex flex-row mt-5">
  <div class="font-bold pl-2 pr-2">{{ position | date:'m:ss':'UTC' }}</div>
  <p-progress-bar [value]="position" [showValue]="false" class="w-full"></p-progress-bar>
<!--  <mat-slider-->
<!--    [max]="100"-->
<!--    [min]="0"-->
<!--    (change)="changeVolume($event)"-->
<!--  >-->
<!--    <input matSliderThumb [(ngModel)]="volume" #volumeSlider>-->
<!--  </mat-slider>-->
</div>
